version: '3.4'
services:
  app:
    build:
        context: ./infra/app
        dockerfile: ./Dockerfile
        network: host
        restart: always
    volumes:
      - ./:/var/www
  web:
    build:
        context: ./infra/web
        dockerfile: ./Dockerfile
        network: host
        restart: always
    ports:
      - "80:80"
    volumes:
      - ./:/var/www
